/*  color pallet https://colorhunt.co/palette/14832 */
body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  margin: 10px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  text-decoration:none;
}

hr {
  color: #EAF6F6;
  border-top-width: 10px;
  border-style: dotted none none none;
  width: 10%;
  margin: 50px auto 50px auto;
}

/* Classes */
.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #e4f9f5;
}

.middle-container {
  padding-top: 10px;
  margin: 10px auto 50px auto;
}

.bottom-container {
  color: #EAF6F6;
  background-color: #66BFBF;
  margin: 10px auto 0 auto;
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 1.5;
}

.profile {
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 2;
  color: #40514E;
}

/* Image Classes*/
.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.profile-pic {
  width: 30%;
  border-radius: 100%;
}

.image-general {
  height: 100px;
  width: auto;
}

.skills-img-left {
  float: left;
  width: 30%;
  margin-right: 30px;
}

.skills-img-right {
  float: right;
  width: 30%;
  margin-left: 30px;
}

.contact-me{
  text-align: center;
}

/* Button Classes*/
.contact-button {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  text-indent: 0;
  line-height: 17px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 15px;
  color: #ffffff;
  background-color: #66BFBF;
  width: 150px;
  height: 17px;
  padding: 9px;
}

.contact-button:active {
  position: relative;
  top: 3px
}

.contact-button:hover {
  background-color: #529999;
}

.footer-link {
  color: #0E7A7E;
  padding: 3%;

}
